*{
  box-sizing: border-box;
}
body{
  min-height: 300vh;
}
a{
  font-size: 30px;
  border: 2px solid black;
}
nav{
  text-align: center;
  }
  .container{
    border: 2px solid green;
    min-height: 1500px;
  }
  .item{
    min-width: 100px;
    max-width: 300px;
    border: 5px solid red;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 10px 20px;
    background-color:teal;
    margin: 10px;
  }

  .flex-container{
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: center;
    /* flex-wrap: wrap-reverse; */
    flex-flow: wrap;

  }